# Naive baseline

Niave baseline is the official baseline of CAFA challenge. The idea is that if a functional annotation is frequent in the training data, it is likely that it could be assigned to another protein with a certain degree of confidence.

For each annotation term, its frequency in the training set is computed and is used as the probability of the protein having that term.
$$
S(G_i , P_j) = \frac{N_{G_i}}{N_D}
$$
This formula indicates that the probability of GO term $i$ being assinged to protein $j$ equals the number of appearences of $GO_i$ divided by the number of proteins in the dataset.

All the annotations are assigned to every protein with the same probability. Although this method is very basic, but it tells you how well you could perform if you had no knowledge about a protein.

### Loading the training data

In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv('../../data/students/train/train_set.tsv',sep='\t')
train_df.head()

  Protein_ID              aspect     GO_term
0     P91124  cellular_component  GO:0005575
1     P91124  cellular_component  GO:0110165
2     P91124  cellular_component  GO:0005737
3     P91124  cellular_component  GO:0005622
4     P91124  cellular_component  GO:0043226

### Calculating Frequencies from Training Set

In [3]:
def get_frequency(aspect,df):
    temp_df = df[df['aspect'] == aspect]
    value_counts = temp_df['GO_term'].value_counts()
    maximum = value_counts.max()
    value_counts = value_counts.to_dict()
    frequency_values = {k:round((v/maximum),3) for k,v in value_counts.items()}
    return frequency_values

In [4]:
mfo_freq = get_frequency('molecular_function',train_df)
bpo_freq = get_frequency('biological_process',train_df)
cco_freq = get_frequency('cellular_component',train_df)

### Loading the test data

In [5]:
test_df = pd.read_csv('../../data/students/test/test_ids.txt',header = None)
test_df.columns = ['Protein_ID']
test_df.head()

   Protein_ID
0      O43747
1      Q969H0
2      Q9JMA2
3      P18065
4  A0A8I6AN32

### Calculating the Frequencies for the Test Data

In [6]:
def get_go_terms():
    mfo_terms = list(mfo_freq.items())[:500]
    bpo_terms = list(bpo_freq.items())[:500]
    cco_terms = list(cco_freq.items())[:500]
    all_terms = mfo_terms + bpo_terms + cco_terms
    return all_terms

In [7]:
test_df['Predicted_terms'] = [get_go_terms()] * 1000
test_df

     Protein_ID                                    Predicted_terms
0        O43747  [(GO:0003674, 1.0), (GO:0005488, 0.66), (GO:00...
1        Q969H0  [(GO:0003674, 1.0), (GO:0005488, 0.66), (GO:00...
2        Q9JMA2  [(GO:0003674, 1.0), (GO:0005488, 0.66), (GO:00...
3        P18065  [(GO:0003674, 1.0), (GO:0005488, 0.66), (GO:00...
4    A0A8I6AN32  [(GO:0003674, 1.0), (GO:0005488, 0.66), (GO:00...
..          ...                                                ...
995      P9WPA7  [(GO:0003674, 1.0), (GO:0005488, 0.66), (GO:00...
996      P13504  [(GO:0003674, 1.0), (GO:0005488, 0.66), (GO:00...
997      P70062  [(GO:0003674, 1.0), (GO:0005488, 0.66), (GO:00...
998      Q80TN5  [(GO:0003674, 1.0), (GO:0005488, 0.66), (GO:00...
999      Q9V2V6  [(GO:0003674, 1.0), (GO:0005488, 0.66), (GO:00...

[1000 rows x 2 columns]

In [8]:
test_df_expanded = test_df.explode('Predicted_terms')
test_df_expanded

    Protein_ID      Predicted_terms
0       O43747    (GO:0003674, 1.0)
0       O43747   (GO:0005488, 0.66)
0       O43747  (GO:0005515, 0.507)
0       O43747  (GO:0003824, 0.447)
0       O43747  (GO:0097159, 0.221)
..         ...                  ...
999     Q9V2V6  (GO:0030660, 0.001)
999     Q9V2V6  (GO:1990752, 0.001)
999     Q9V2V6  (GO:0001917, 0.001)
999     Q9V2V6  (GO:0000407, 0.001)
999     Q9V2V6  (GO:0020036, 0.001)

[1500000 rows x 2 columns]

In [9]:
test_df_expanded[['GO_ID', 'score']] = pd.DataFrame(test_df_expanded['Predicted_terms'].tolist(), index=test_df_expanded.index)
test_df_expanded

    Protein_ID      Predicted_terms       GO_ID  score
0       O43747    (GO:0003674, 1.0)  GO:0003674  1.000
0       O43747   (GO:0005488, 0.66)  GO:0005488  0.660
0       O43747  (GO:0005515, 0.507)  GO:0005515  0.507
0       O43747  (GO:0003824, 0.447)  GO:0003824  0.447
0       O43747  (GO:0097159, 0.221)  GO:0097159  0.221
..         ...                  ...         ...    ...
999     Q9V2V6  (GO:0030660, 0.001)  GO:0030660  0.001
999     Q9V2V6  (GO:1990752, 0.001)  GO:1990752  0.001
999     Q9V2V6  (GO:0001917, 0.001)  GO:0001917  0.001
999     Q9V2V6  (GO:0000407, 0.001)  GO:0000407  0.001
999     Q9V2V6  (GO:0020036, 0.001)  GO:0020036  0.001

[1500000 rows x 4 columns]

In [10]:
test_df_expanded = test_df_expanded.drop('Predicted_terms', axis=1)
test_df_expanded

    Protein_ID       GO_ID  score
0       O43747  GO:0003674  1.000
0       O43747  GO:0005488  0.660
0       O43747  GO:0005515  0.507
0       O43747  GO:0003824  0.447
0       O43747  GO:0097159  0.221
..         ...         ...    ...
999     Q9V2V6  GO:0030660  0.001
999     Q9V2V6  GO:1990752  0.001
999     Q9V2V6  GO:0001917  0.001
999     Q9V2V6  GO:0000407  0.001
999     Q9V2V6  GO:0020036  0.001

[1500000 rows x 3 columns]

In [17]:
test_df_expanded.to_csv('../preds/naive_submission.tsv',header=None, index=False,sep='\t')

# Evaluation

In [19]:
pip install cafaeval

Requirement already satisfied: cafaeval in /home/mahta/BD_proj_2023/venv/lib/python3.10/site-packages (1.0.0)
Requirement already satisfied: matplotlib in /home/mahta/BD_proj_2023/venv/lib/python3.10/site-packages (from cafaeval) (3.8.2)
Requirement already satisfied: numpy in /home/mahta/BD_proj_2023/venv/lib/python3.10/site-packages (from cafaeval) (1.26.2)
Requirement already satisfied: pandas in /home/mahta/BD_proj_2023/venv/lib/python3.10/site-packages (from cafaeval) (2.1.3)
Requirement already satisfied: packaging>=20.0 in /home/mahta/BD_proj_2023/venv/lib/python3.10/site-packages (from matplotlib->cafaeval) (23.2)
Requirement already satisfied: pyparsing>=2.3.1 in /home/mahta/BD_proj_2023/venv/lib/python3.10/site-packages (from matplotlib->cafaeval) (3.1.1)
Requirement already satisfied: contourpy>=1.0.1 in /home/mahta/BD_proj_2023/venv/lib/python3.10/site-packages (from matplotlib->cafaeval) (1.2.0)
Requirement already satisfied: pillow>=8 in /home/mahta/BD_proj_2023/venv/lib/python3.10/site-packages (from matplotlib->cafaeval) (10.1.0)
Requirement already satisfied: python-dateutil>=2.7 in /home/mahta/BD_proj_2023/venv/lib/python3.10/site-packages (from matplotlib->cafaeval) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /home/mahta/BD_proj_2023/venv/lib/python3.10/site-packages (from matplotlib->cafaeval) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /home/mahta/BD_proj_2023/venv/lib/python3.10/site-packages (from matplotlib->cafaeval) (4.45.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /home/mahta/BD_proj_2023/venv/lib/python3.10/site-packages (from matplotlib->cafaeval) (1.4.5)
Requirement already satisfied: pytz>=2020.1 in /home/mahta/BD_proj_2023/venv/lib/python3.10/site-packages (from pandas->cafaeval) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/mahta/BD_proj_2023/venv/lib/python3.10/site-packages (from pandas->cafaeval) (2023.3)
Requirement already satisfied: six>=1.5 in /home/mahta/BD_proj_2023/venv/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib->cafaeval) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
import cafaeval
from cafaeval.evaluation import cafa_eval, write_results
res = cafa_eval("../../data/students/train/go-basic.obo", "../preds/" , "../../data/outputs/ground_truth.tsv")
write_results(*res)